@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}

body{
    min-height: 100vh;
    background-color: var(--lightGray);
    font-family: 'Outfit', sans-serif;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    max-width: 17.5rem;
    background-color: var(--white);
    text-align: center;
    padding: 15px;

}

.round-edge{
    border-radius: .9rem;
}

img{
    display: block;
    max-width: 100%;
}

.text{
    font-size: 11px;
}

.text h1{
    font-weight: 700;
    color: var(--darkBlue);
}

.text p{
    font-weight: 600;
    color: var(--grayishBlue);
    padding-inline: 20px;
    font-size: .9rem;
    
}

.attribution { 
    font-weight: 400;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
